<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
      <div class="dropdown post-actions" *ngIf="comment.author.id===currentUser?.id">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              &#8942;
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                  <button type="button" class="btn dropdown-item" data-bs-toggle="modal" data-bs-target="#editComment" (click)="editComment(comment)">
                      Edit
                  </button>
              </li>
              <li>
                  <button type="button" class="btn dropdown-item" (click)="deleteComment(comment.id)">
                      Delete
                  </button>
              </li>
          </ul>
      </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="primary" (click)="commentReaction(true)">
          <mat-icon matBadge="{{this.GetLikes()}}" matBadgeColor="accent" matBadgeSize="medium"
                    [matBadgeHidden]="this.GetLikes() === 0" aria-label="Like">favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="commentReaction(false)">
          <mat-icon matBadge="{{this.GetDislikes()}}" matBadgeColor="warn" matBadgeSize="medium"
                    [matBadgeHidden]="this.GetDislikes() === 0" aria-label="Dislike">thumb_down</mat-icon>
      </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<!-- Edit comment modal -->
<div class="modal fade" id="editComment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="commentDetail">
                    <div class="mb-3">
                        <label for="body" class="form-label">Body</label>
                        <input type="text" formControlName="body" class="form-control" id="body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="updateComment()">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
