<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
      <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
      <mat-card-title>{{post.author.userName}}</mat-card-title>
      <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
      <div class="dropdown post-actions" *ngIf="post.author.id===currentUser?.id">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              &#8942;
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
              <button type="button" class="btn btn-outline-warning dropdown-item" data-bs-toggle="modal" data-bs-target="#editPost" (click)="editPost(post)">
                  Edit
              </button>
              </li>
              <li>
              <button type="button" class="btn btn-outline-danger dropdown-item" (click)="deletePost(post.id)">
                  Delete
              </button>
              </li>
          </ul>
      </div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
      <button mat-icon-button color="primary" (click)="postReaction(true)">
          <mat-icon matBadge="{{this.GetLikes()}}" matBadgeColor="accent" matBadgeSize="medium"
                    [matBadgeHidden]="this.GetLikes() === 0" aria-label="Like">favorite</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="postReaction(false)">
          <mat-icon matBadge="{{this.GetDislikes()}}" matBadgeColor="warn" matBadgeSize="medium"
                    [matBadgeHidden]="this.GetDislikes() === 0" aria-label="Dislike">thumb_down</mat-icon>
      </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser" (onDelete)="updateComments($event)"></app-comment>
  </div>
</mat-card>

<!-- Edit post modal -->
<div class="modal fade" id="editPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="postDetail">
                    <div class="mb-3">
                        <label for="body" class="form-label">Body</label>
                        <input type="text" formControlName="body" class="form-control" id="body">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload new image</label>
                        <input class="form-control" type="file" id="formFile" (change)="loadImage($event.target)">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-success" (click)="updatePost()" data-bs-dismiss="modal">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
